package nyub.yadladoc.example

import nyub.yadladoc.AssertExtensions
import java.nio.file.Files

class ${{ydoc.exampleName}} extends munit.FunSuite with AssertExtensions:
${{ydoc.snippet}}

end ${{ydoc.exampleName}}
