package nyub.yadladoc.example

import nyub.yadladoc.AssertExtensions

class GeneratedExample extends munit.FunSuite with AssertExtensions:
    test("Example"):
${{ydoc.snippet}}

end GeneratedExample
